* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $very-dark-blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  min-height: 100vh;
  @include mq('tablet') {
    flex-direction: column;
  }
}

ul {
  list-style-type: none;
  @include mq('tablet') {
    display: flex;
  }
}

.card {
  background-color: $dark-desaturated-blue;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  color: $white;
  max-width: 375px;
  @include mq('tablet') {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 1000px;
  }
  &-image {
    background: $soft-violet url('../images/image-header-mobile.jpg') center / cover no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    @include mq('tablet') {
      background-image: url('../images/image-header-desktop.jpg');
      border-radius: 0 10px 10px 0;
      height: 400px;
    }
  }
  &-content {
    padding: 30px;
    @include mq('tablet') {
      padding-left: 60px;
      padding-right: 0;
    }

    h1 {
      margin-bottom: 20px;
      line-height: 1.3;
      @include mq('tablet') {
        padding-right: 120px;
      }
      span {
        color: $soft-violet;
      }
    }
    p {
      font-size: 14px;
      color: $slightly-transparent-white-m;
      margin-bottom: 30px;
      line-height: 1.8;
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 0.016em;
      @include mq('tablet') {
        padding-left: 0;
        padding-right: 120px;
        margin-bottom: 50px;
      }
    }

    li {
      font-size: 1.4rem;
      font-weight: 700;
      & + li {
        margin-top: 30px;
        @include mq('tablet') {
          margin-top: 0;
          margin-left: 30px;
        }
      }
      span {
        color: $slightly-transparent-white-h;
        text-transform: uppercase;
        display: block;
        font-family: 'Lexend Deca', sans-serif;
        margin-top: 10px;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.1em;
      }
    }
  }
}

.attribution {
  flex-basis: 100%;
  font-size: 11px;
  color: $slightly-transparent-white-h;
  text-align: center;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: $soft-violet;
  }
  @include mq('tablet') {
    position: fixed;
    bottom: 10px;
  }
}